.idea/
*.class
*.iml
*.db
atlassian-ide-plugin.xml
out/
logs/
target/
*.ReSharper
api-parent/net_project/_ReSharper.api-parent-v.3.5/
**/bin/
**/test/bin/
**/obj/
**/test/obj/
**/Debug/
sertifika deposu/
api-parent/net_project/
api-smartcard/pkcs15/jars
api-cmsenvelope/testdata/cmsenvelope/Encryptedtest.txt
api-cmssignature/api-mssclient/turkcellmssprovider/MobileUser.cer
api-smartcard/pkcs15/writeObjectsAPDULog.txt
lisans/lisans.xml
testVerileri/
api-asn/api-asn653/src/tr/gov/tubitak/uekae/esya/api/asn/*
api-asn/api-asn653/src/tr/gov/tubitak/uekae/esya/asn/util/
api-parent/testdata/
api-infra/csharp/api-infra.csproj.user
*.vcproj.*.user
**/test-output/
*.vcxproj.user
*.csproj.user
*.csproj.DotSettings
api-parent/temp/
api-xmlsignature/test-output/
api-cmssignature/test-output/
api-parent/resources/unit-test-resources/plain-files/signed
api-asic/testresources/created
**/.vs/**
.flattened-pom.xml
